<center><p class="myName">Kristinn Esmar Kristmundsson</p></center>
<p><b>Me in a nutshell</b></p>

<p>If I had to quantify myself in a single sentence I would probably say something like "Are you crazy! A man so simple to reduce to a sentence is not a man worth listening to!" 
<br><br>
However I will attempt to be brief. 
<br><br>
My passion is programming. It is the one thing I think about when the turmoil of life dies down and I have time to myself. It is my professional ambition to be effective at what I do both in my current language of choice as well as whatever newfangled methodology is on the horizon. In the rare instances where I do not code I let my curious nature go wild through my guitar, banjo or whatever game catches my attention at the time. 
<br><br>
This website is my online CV, please browse it at your leisure. If you would like an offline copy a link to a pdf document containing roughly the same information as on the site is available for download in the box down below.
<br><br>
I hope to hear from you in the future :) </p>