<center><p class="myName"><b>Academic career</b></p></center>


<p><b>Mechatronics engineering technology</b></p>

	<a href="http://www.hi.is"><img src="img/hi_logo.png" align="left" style="margin:10px;"></a>

After my preliminary studies I was interested in enrolling in university. Engineering had grabbed my interest at Keilir so after I graduated in 2009 I decided to study Mechatronic Engineering Technology at Keilir (which was taught in association with the University of Iceland). <br><br>
During my studies I learned a great deal about the ideas and methodologies that govern the engineering fields and dipped my feet into various subjects ranging from electric and mechanical engineering to circuit design. As my interest tend to lie towards programming I specialized more towards such topics than others. I earned a deep understanding on what happens behind the scenes when computers run code which helped me in designing more effective solutions when dealing with "bare-metal" programming.<br><br>

My final thesis revolved around a rescue system for sailors who fall overboard out on the ocean titled "Man overboard". It was recognized by the icelandic association of technological engineers (<a href="http://www.tfi.is">TFI</a>) and was given an award for the quality of the thesis.

<br><br>
Final grade : <b>7.69</b><br><br>


<p><b>Keilir, preliminary studies. (2008-2009)</b></p>

<a href="http://www.keilir.net/"><img src="img/keilir_logo.png" align="left" style="margin:10px;"></a>

In 2008 I enrolled in school at Keilir, atlantic center of excellence in preliminary studies focused on math, physics and subjects relating to the field of engineering.<br><br>
At Keilir I learned how to communicate effectively and work in groups as much of the school work was focused on presentations and on working with others towards common goals. <br><br>
Final grade: <b>8.19</b>

<center><p class="myName"><b>Grants</b></p></center>

<p><b>"Man overboard" final thesis (2012)</b></p>
I was fortunate enough to recieve funding to help with my final thesis from <a href="http://www.brunnur.is/">Tæknibrunnur ehf</a> and the <a href="http://www.sigling.is/English">Icelandic Maritime Administration</a>. This enabled me to acquire the hardware and expertise needed to complete my thesis as well as construct a small proof of concept prototype device.

<p><b>The Icelandic Student Innovation Fund (2011)</b></p>
<img src="img/rannis.png" align="left" style="margin:10px;">In 2011 I recieved a grant to help further the development and build of a camera dolly with specific focus on the on-board software. A real-time operating system was developed as well as a seperate control software for a PC where the user could set angle/movement keyframes for the dolly motors.<br><br>
The completed device can be seen in the video below:<br><br>
<center>
<iframe width="560" height="315" src="//www.youtube.com/embed/IbAc7TuV_bs" frameborder="0" allowfullscreen></iframe></center>

<p><b>Orkurannsóknir ehf. (2010)</b></p>
In 2010 I recieved a grant for designing and building an automatic camera dolly for movie special effects purposes from <a href="http://www.keilir.net/kit/nam/orkurannsoknir">Orkurannsóknir ehf.</a> The dolly was designed using the software "Autocad Inventor" and was built in the Keilir workshop.<br><br>
<center>
	<img src="img/dolly.png" style="height:200px">
	<img src="img/dolly2.png" style="height:200px">
</center><br>
The chassis is driven by three stepper motors controlled by a gecko moter drive as well as an Arduino microcontroller. A camera is attached in a cradle which can then be adjusted as needed to change the angle of the camera.
