<center><p class="myName"><b>Work experience</b></p></center>

<font style="font-size: 20px"><b>Tæknivit</b><br></font>
<font style="font-size: 12px">
	Software developer,
	February 2018 - Current<br><br>
</font>
<img src="img/taeknivit.png" align="left" style="margin:10px; height: 40px">
At Tæknivit (Formerly Leiðir) I mainly work on customer facing solutions in the Álfheimar system as well as on the backend software that handles customer transactions and card or token processing.
<br><br>Alongside my main responsibilities I work on some of the various software challenges that tend to come up when kiosk solutions are set up.
<br><br>

<font style="font-size: 20px"><b>Vista Data Vision</b><br></font>
<font style="font-size: 12px">
	Software developer,
	January 2016 - February 2017<br><br>
</font>
<img src="img/vdv.png" align="left" style="margin:10px; height: 40px">
Vista Data Vision creates software that monitors various variables engineers need to be made aware of in the course of their planning and/or construction.
I worked on various solutions with regards to customer facing web solutions as well as on the back end software. <br><br>
At VDV I helped create a rolling release package management system which was a very rewarding experience, as I learned just how
complex such systems can be.
<br><br>

<font style="font-size: 20px"><b>365 Media</b><br></font>
<font style="font-size: 12px">
	Software developer,
	December 2014 - November 2015<br><br>
</font>
<img src="img/365.png" align="left" style="margin:10px; height: 40px">
At 365 I worked on customer fulfilment procedures via various endpoints managed with enterprise integration software. I also developed business solutions for the
Salesforce platform via the Apex development language as well as working on customer facing solutions such as the 365 website.<br><br>
I appreciate the work I did at 365 as it gave me valuable insight into systems architecture in a larger scope than I had previously experienced.
<br><br>

<font style="font-size: 20px"><b>Remake Electric</b><br></font>
<font style="font-size: 12px">
	Software developer,
	January 2014 - June 2015<br><br>
</font>
<img src="img/remake.png" align="left" style="margin:10px; height: 40px">
Remake Electric (Now eTactica) had me working on their flagship product eTactica which is a electric and flow monitoring system.
I was responsible for various full stack tasks and solutions for the system.<br><br>
In my time at Remake I learned a lot of new software development methods as I broke out of my
c++ shell and entered the world of web development.
<br><br>

<font style="font-size: 20px"><b>Tern Systems</b><br></font>
<font style="font-size: 12px">
	Systems Developer,
	August 2012 - November 2013<br><br>
</font>
<img src="img/tern_logo.PNG" align="left" style="margin:10px; height: 50px">
My responsibilities lay in developing, designing and testing software intended as a teaching tool for air traffic controllers. The software I worked on is a form of a flight simulator software for air traffic management professionals where the user sat in front of a 3D display of an airport with all the systems he would normally use in his day to day job at his disposal.<br><br>
At Tern Systems I gained a deeper knowledge on how to professionally develop software and learned how methodologies such as Scrum and Agile affect the development cycle. My abilities as a programmer grew as few things teach you how to develop code better than 
professional experience.<br><br>

<br>

<font style="font-size: 20px"><b>Keilir, Atlantic Center of Excellence</b><br></font>
<font style="font-size: 12px">
	Teachers assistant,
	Fall 2011<br><br>
</font>
<img src="img/keilir_logo.png" align="left" style="margin:10px; height: 50px">
I assisted the teachers in grading homework as well as assisting other students with their homework assignments. I found this very rewarding as teaching other people helps me solidify my own understanding of a subject.<br><br>
<br>
