<center><p class="myName"><b>Job experience</b></p></center>

<font style="font-size: 20px"><b>Tern Systems</b><br></font>
<font style="font-size: 12px">
	Systems Developer,
	August 2012 - November 2013<br><br>
</font>
<img src="img/tern_logo.PNG" align="left" style="margin:10px; height: 50px">
My responsibilities lay in developing, designing and testing software intended as a teaching tool for air traffic controllers. The software I worked on is a form of a flight simulator software for air traffic management professionals where the user sat in front of a 3D display of an airport with all the systems he would normally use in his day to day job at his disposal.<br><br>
At Tern Systems I gained a deeper knowledge on how to professionally develop software and learned how methodologies such as Scrum and Agile affect the development cycle. My abilities as a programmer grew as few things teach you how to develop code better than 
professional experience.<br><br>
References
<DT>
	<DD style="font-size:12px">
		Þröstur Þorkelsson<br>
		Product Manager<br>
		Phone : 525-0522 & 863-9955<br><br>
		Tómas Davíð Þorsteinsson<br>
		General Manager<br>
		Phone : 525-0500
	</DD>
</DT><br>

<font style="font-size: 20px"><b>Keilir, Atlantic Center of Excellence</b><br></font>
<font style="font-size: 12px">
	Teachers assistant,
	Fall 2011<br><br>
</font>
<img src="img/keilir_logo.png" align="left" style="margin:10px; height: 50px">
I assisted the teachers in grading homework as well as assisting other students with their homework assignments. I found this very rewarding as teaching other people helps me solidify my own understanding of a subject.<br><br>
References
<DT>
	<DD style="font-size:12px">
		Karl Sölvi Guðmundsson<br>
		Head of Keilir technology studies<br>
		Thesis guide "Man overboard"<br>
		578-4000
	</DD>
</DT><br>

<font style="font-size: 20px"><b>S.Helgason</b><br></font>
<font style="font-size: 12px">
	Worker,
	2006-2008<br>
</font>
<img src="img/sh_logo.PNG" align="left" style="margin:10px; height: 50px">
I applied lettering to stone and glass as well as assisting the stonemasons in various tasks.<br><br><br>
References
<DT>
	<DD style="font-size:12px">

		Þór Sigmundsson<br>
		Stonemason<br>
		557-6677	
	</DD>
</DT><br>
