<center><p class="myName"><b>My skills</b></p></center>

Through years of academic, professional and hobby programming I have used many languages for various tasks, as I am a quick learner and approach each language as a smith would approach his tools. Each tool is useful for a specific purpose, use and limitation. I will list the languages and frameworks I have used most frequently/recently.

<DL>
	<DT>
		<b class="languageDef">C#</b>
		<DD>
			I have experience using C# both for developing standalone executables as well as for developing full stack solutions using asp.net, mvc or Web Forms. <br>
			My main work experience with C# is at Tæknivit where the language of choice is C#.
			<br>
			<font class="skillbar">Skill : Good.</font>
			<br>
			<br>
		</DD>
		<b class="languageDef">C++</b>
		<DD>
			I have used C++ for years on projects ranging from coding for microcontrollers, writing a very basic web-server and up to professionally at Tern Systems where I worked on ATM software. In the recent year I have grown in this language as nothing teaches you the ins and outs of a language like living with it every day. Even so, it is a very hard language and it can take a lifetime mastering it.
			<br>
			<font class="skillbar">Skill : Good.</font>
			<br>
			<br>
		</DD>
		<b class="languageDef">Javascript</b>
		<DD>
			Recently I have found myself turning towards javascript more and more. The relatively recent influx of frameworks such as bootstrap, angular, jquery, and so on, have made javascript a very powerful web development language. Now with node.js you can even use it to code backbone applications. I have increasingly been exploring its potential for SAP development via angular and jquery. 
			<br>
			<font class="skillbar">Skill : Good.</font>
			<br>
			<br>
		</DD>
		<b class="languageDef">Python</b>
		<DD>
			Python is a very versatyle language with powerful frameworks available. It has seen rise recently with the advent of web.py and django which allow the developer to use python easily in the backend of a website. I have mainly turned to this instead of things like bash for command line work in linux as well as for some web development as a backend via web.py.
			<br>
			<font class="skillbar">Skill : Competent.</font>
			<br>
			<br>
		</DD>
		<b class="languageDef">Relational databases</b>
		<DD>
			I have used SQL in almost any workplace I've had since I started software development. My main tools have been MySQL and PostgreSQL.
			<br>
			<font class="skillbar">Skill : Good.</font>
			<br>
			<br>
		</DD>
		<b class="languageDef">Other</b>
		<DD>
			I am familiar with the following technologies/frameworks in addition to the ones listed above (the list is not comprehensive):
			<br><br><i>
			Go,
			Ruby,
			Webmethods,
			Adobe inventor,
			Perforce,
			Flask,
			Jira,
			CSS,
			JQuery,
			Angular,
			VueJS
		</i>
		</DD>
	</DT>
</DL>

Additionally I have knowledge and experience of agile/scrum/kamban methodology for software development.

<p><b>My projects</b></p>

This section contains all projects I work on in my spare time which happen to be accessible online either via github or from a webserver hosting the files.